.my-header-background{
    background-image: url(./img/lenguaje-de-programación.jpg); 
    background-size: cover;
     backdrop-filter: blur(1px);
     backdrop-filter:  blur(100px);
     -webkit-backdrop-filter: blur(10px);
  }

  .error-message {
    color: red; 
    font-weight: bold; 
    font-size: 16px; 
    margin-top: 5px;
    
}

.my-color{
  color: #16A085;
}